/*.about-us-section {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .about-us-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-us-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-us-header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section-container {
    margin-bottom: 40px;
  }
  
  .section-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-description {
    font-size: 18px;
    line-height: 1.5;
  }
  */
  
  .about-us-container {
  max-width: 2000px;
  margin: 50 auto;
  padding: 30px 10px;
  background-color: black;
}

.about-us-header {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.about-us-container p {
  font-size: 24px;
  color: white;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  /*width: 500%;
  max-width: 200px;
  margin-bottom: 50px;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  */


  position: flex;
  left: 0%;
  right: 0%;
  max-width: 300px;
  bottom: 0%;

  background: #232D37;
  border-radius: 20px;

}

.card-image {
  width: 50%;
  height: 100px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}


/*.card-image-alt{
  position: absolute;
  left: 39.12%;
  right: 39.12%;
  top: 0%;
  bottom: 68.63%;
}*/

.card-content {
  padding: 20px;
}

.card-header {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.card-text {
  font-size: 12px;
  line-height: 1.5;
  color: white;
  text-align: center;
}
