@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap');

<<<<<<< HEAD
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
=======
>>>>>>> 5095bb57607724c0afdd87d27d7e9c1572237ffe
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
