/* .container {
  padding: 0 2rem;
} */

.headerCtn {
  background-color: #121212;
  height: 9vh;
  padding: 1vh 0vw;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #61666b;
  position: sticky;
  top: 0vh;
  z-index: 100;
}

.titleCtn {
  margin: 0;
  padding-top: 5rem;
  font-family: AbdoMaster-Bold;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -1.7px;
  text-align: center;
}

.linksCtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

.linksCtn > a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #fefefe;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s;
}
div.linksCtn div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}
.linksCtn div p {
  padding-left: 0.6vw;
}
.linksCtn > a:hover {
  color: #8ea9f0;
  border-bottom: 2px solid #8ea9f0;
}
.btn-div {
  width: 186px;
  height: 56px;
  background: #416fe6;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "AbdoMaster-Bold";
  font-size: 16px;
  cursor: pointer;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerCtn {
  background-color: #000c28;
  height: auto;
  padding: 6vh 8vw 10vh 3vw;
  text-align: center;
  color: #fff;
}
.footerTopDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logoDiv {
  text-align: left;
}
.socialsDiv {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  cursor: pointer;
}
.linksDiv {
  text-align: left;
}
.linksDiv p.linkHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.linksDiv p.links {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 1.5vh;
  cursor: pointer;
}
.links.imgLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}
.copyDiv {
  margin-top: 7vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.teamCtn {
  background: #121212;
  color: #fff;
  text-align: center;
}
.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 auto;
  font-family: inter;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.7px;
  text-align: center;
  padding-top: 1rem;
  width: 682px;
  height: 72px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0d76fc;
  border-color: #0d76fc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

#heroImage {
  background-color: #121212;
  /* background: linear-gradient(-30deg, #F4B8A4  5%,#121212 6%, rgba(0,0,0, 0.6),#F4B8A4) ; */
  height: 90vh;
}

.teamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.members {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 1rem;
}

.memberName {
  font-family: inter;
  font-style: normal;
  font-weight: 700px;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: -0.7px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}
.memberRole {
  font-family: inter;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  /* line-height: 4px; */
  letter-spacing: -0.7px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}
.imgCtn {
  background: #fff url(../Components/images/pngs/mary.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
}
.mary {
  background: #fff url(../Components/images/pngs/sabastine.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
}
.roohemah {
  background: #fff url(../Components/images/pngs/roohemah.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
}
.divine {
  background: #fff url(../Components/images/pngs/divine.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;
}
.favour {
  background: #fff url(../Components/images/pngs/favour.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;
}
.idy {
  background: #fff url(../Components/images/pngs/idy.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;
}
.shellyna {
  background: #fff url(../Components/images/pngs/shellyna.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;
}
.dunnie {
  background: #fff url(../Components/images/pngs/dunnie.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;
}
.folasewa {
  background: #fff url(../Components/images/pngs/folasewa.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;
}
.maryam {
  background: #fff url(../Components/images/pngs/maryam.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-bottom: 3rem;
}

/* jumbotron */
.jumbotronCtn {
  background-image: url("../Components/images/pngs/extra.png");
  background-size: cover;
  height: 93vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 3vw 7vh 4vw;
  background-position: top;
}
.textCtn .extra {
  font-family: "AbdoMaster-Bold";
  font-size: 106px;
  color: #ffffff;
  letter-spacing: -1.7px;
  line-height: 114px;
  padding-bottom: 3vh;
  max-width: 50vw;
  animation: slide-in-from-left 0.7s ease-in forwards;
}
.textCtn span {
  padding: 0 0 0 7vw;
  /* padding-bottom: -5vh */
}
.belowExtra {
  margin-top: -15vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -1.7px;
  color: #ffffff;
  animation: slide-in-from-bottom 0.7s ease-in forwards 0.1s;
}
.demoBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 305px;
  height: 56px;
  background: #416fe6;
  border-radius: 8px;
  border: none;
  /* margin-bottom: 10vh; */
  margin-top: 8vh;
  font-family: "AbdoMaster-Bold";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.7px;
  color: #ffffff;
  cursor: pointer;
  animation: slide-in-from-bottom 0.7s ease-in forwards 0.3s;
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(10vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0vw);
    opacity: 1;
  }
}

/* levels */

.levelCtn {
  background-color: #232d37;
  height: auto;
  width: 100%;
  min-width: 100vw;
  min-height: 50vh;
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
}
.levelCtn > p {
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  letter-spacing: -0.7px;
  color: #ffffff;
}
.levelText {
  /* font-family: 'AbdoMaster-Bold'; */
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}
.levelsSmalls {
  font-weight: 400;
  font-size: 16px;
  width: 57%;
}
.levelTypesCtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  margin-top: 5vh;
  text-align: center;
  flex-flow: wrap;
}
.levelName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -1.7px;
  color: #ffffff;
}
.levelTypes .img {
  position: relative;
  animation: ripple-body 1.7s infinite linear both;
}
.levelTypes:hover .img::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #7990a7;
  border-radius: 30px;
  animation: ripple 1s infinite linear;
}

@keyframes ripple {
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes ripple-body {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/* discover */
.discoverCtn {
  background-color: #121212;
  min-height: 100vh;
}
.bannerCtn {
  background-image: url("../Components/images/pngs/blurBack.png");
  background-size: cover;
  width: 100%;
  min-width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
}
.bannerCtn > p {
  font-family: "AbdoMaster-Bold";
  font-size: 40px;
  line-height: 46px;
  text-align: left;
  letter-spacing: -1.7px;
  color: #ffffff;
}
.belowBannerCtn {
  padding: 5vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.inputCtn select {
  width: inherit;
  height: 8vh;
  background: rgba(255, 255, 255, 0.15);
  border: 1.87092px solid #b4b7bb;
  border-radius: 14.9674px;
  padding: 0 1vw;
  padding-right: 6vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 29.9347px;
  line-height: 45px;
  letter-spacing: -1.30964px;
  color: #ffffff;
  cursor: pointer;
}
.inputCtn {
  position: relative;
  width: 30vw;
  margin-right: auto;
}
.inputCtn .discDropdown {
  position: absolute;
  top: 13%;
  right: 1vw;
  pointer-events: none;
}
.popularText {
  font-family: "AbdoMaster-Bold";
  font-size: 35.045px;
  line-height: 40px;
  text-align: left;
  letter-spacing: -1.48941px;
  color: #ffffff;
  margin-right: auto;
}

.table {
  width: 80vw;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.table .tableHead {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24.5315px;
  line-height: 29px;
  letter-spacing: -1.48941px;
  color: #b4b4b4;
  margin-left: 7vw;
  /* text-align: center; */
}
.table .tableHead tr > td:first-child {
  padding-left: 5vw;
  width: 30%;
}
.table .tableBody {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21.027px;
  letter-spacing: -1.48941px;
  color: #ffffff;
  background: #232d37;
  margin-top: 5vh;
}
.table .tableBody tr {
  margin-top: 5vh;
  padding-left: 3vw;
  cursor: pointer;
  /* text-align: center; */
}
.table .tableBody tr:hover {
  opacity: 0.5;
}
.table .tableBody tr > td:first-child {
  padding-left: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.table .tableBody .textDiv p:last-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21.027px;
  color: #b4b4b4;
  margin-top: -1.2vh;
}

/* stages */
.stagesCtn {
  background-color: #121212;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.stageTextCtn p:first-child {
  font-family: "AbdoMaster-Bold";
  font-size: 40px;
  text-align: center;
  letter-spacing: -1.7px;
  color: #ffffff;
  margin-bottom: 0;
}
.stageTextCtn p:last-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.7px;
  color: #ffffff;
}
.stageDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  gap: 30px;
  width: 90%;
  margin-top: 5vh;
  height: 60vh;
  overflow: auto;
  white-space: nowrap;
}
.stages {
  width: 114px;
  height: auto;
  background: rgba(35, 45, 55, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.7px;
  color: #ffffff;
  opacity: 0.45;
}
.stageDiv .stages:first-child {
  opacity: 1;
}

/* Game Styles */

.game-body-ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  min-width: 100vw;
  color: #fff;
}

 /* * {
  color: #fff;
} */

/* body {
  background-color: #121212;
}  */

.game-ctn {
  background-color: #121212;
  /* color: #fff; */
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url(../Components/images/pngs/word-back.png) no-repeat 
  center;
  background-size: contain;
  padding: 6rem 8rem;
  margin-top: -2rem;
}

.input-field {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid bisque;
  font-size: 16px;
  margin: 10px;
  background-color: #542516;
  color: bisque;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 350px;
  height: 270px;
  border-radius: 5px;
  margin-top: -4rem;
  background: url(../Components/images/pngs/letter-back.png) no-repeat
    center;
  background-size: contain; 
}

.word-btn {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #f4b8a4;
  color: #542516;
  font-size: 1.5rem;
}

.btns {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin-top: 2rem;
}

.letter-btns {
  margin-top: 2rem;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 6rem;
  background: url(../Components/images/pngs/coin-back.png) no-repeat
    center;
  background-size: contain;
  font-size: 2rem;
  font-weight: 800;
}

.start-btn,
.rearrange {
  width: 7rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: #f1a48b;
  color: #e1e8fb;
  background-color: #542516;
}

.word-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #f1a48b;
  width: 75%;
  padding: 0.5rem 1rem;
}

.word-display button {
  margin-left: 1rem;
  background-color: #542516;
  color: #fff;
  border: 1px solid #e1e8fb;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.stage {
  background-color: #8a3d24;
  padding: 1rem 4rem;
  margin-bottom: -4rem;
  z-index: 999;
  border-radius: 0.5rem;
}

.congrats {
  margin: 0 auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
/* .container {
  padding: 0 2rem;
} */

.headerCtn {
  background-color: #121212;
  height: 9vh;
  padding: 1vh 0vw;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #61666b;
}

.titleCtn {
  margin: 0;
  padding-top: 5rem;
  font-family: AbdoMaster-Bold ;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: -1.7px;
  text-align: center;
}

.linksCtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

.linksCtn > a {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #fefefe;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s;
}
.linksCtn > a:hover {
  color: #8ea9f0;
  border-bottom: 2px solid #8ea9f0;
}
.btn-div {
  width: 186px;
  height: 56px;
  background: #416fe6;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "AbdoMaster-Bold";
  font-size: 16px;
  cursor: pointer;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerCtn {
  background-color: #000C28;
  height: auto;
  padding: 6vh 8vw 10vh 3vw;
  text-align: center;
  color: #fff;
}
.footerTopDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logoDiv {
  text-align: left;
}
.socialsDiv {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  cursor: pointer;
}
.linksDiv {
  text-align: left;
}
.linksDiv p.linkHeader{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.linksDiv p.links{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 1.5vh;
  cursor: pointer;
}
.links.imgLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}
.copyDiv {
  margin-top: 7vh;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.teamCtn{
  background: #121212;
  color: #fff;
  text-align: center;

}
.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 auto;
  font-family:inter ;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.7px;
  text-align: center;
  padding-top: 1rem;
  width: 682px;
  height: 72px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0d76fc;
  border-color: #0d76fc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

#heroImage {
  background-color: #121212;
  /* background: linear-gradient(-30deg, #F4B8A4  5%,#121212 6%, rgba(0,0,0, 0.6),#F4B8A4) ; */
  height: 90vh;
}

.teamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
  
}

.members {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom:1rem;
}

.memberName{
  font-family:inter ;
  font-style: normal;
  font-weight: 700px;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: -0.7px;
  text-align: center;
  margin-top: 0; 
  margin-bottom: 5px;

}
.memberRole{
  font-family:inter ;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  /* line-height: 4px; */
  letter-spacing: -0.7px;
  text-align: center;
  margin-top: 0; 
  margin-bottom: 5px;

}
.imgCtn {
  background: #fff url(../Components/images/pngs/mary.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
}
.mary {
  background: #fff url(../Components/images/pngs/sabastine.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
}
.roohemah {
  background: #fff url(../Components/images/pngs/roohemah.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
}
.divine {
  background: #fff url(../Components/images/pngs/divine.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;

}
.favour {
  background: #fff url(../Components/images/pngs/favour.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;

}
.idy {
  background: #fff url(../Components/images/pngs/idy.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;

}
.shellyna {
  background: #fff url(../Components/images/pngs/shellyna.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;

}
.dunnie {
  background: #fff url(../Components/images/pngs/dunnie.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;

}
.folasewa {
  background: #fff url(../Components/images/pngs/folasewa.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  padding-top: 2rem;
}
.maryam {
  background: #fff url(../Components/images/pngs/maryam.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  width: 360px;
  height: 360px;
padding-bottom: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
