.game-body-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    min-width: 100vw;
    color: #fff;
  }
  
  * {
    color: #fff;
  }
  body {
    background-color: #121212;
  }
  
  
  .input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url(../../../public/assets/images/pngs/word-back.png) no-repeat
      center;
    background-size: contain;
    padding: 6rem 8rem;
    margin-top: -2rem;
  }
  
  .input-field {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid bisque;
    font-size: 16px;
    margin: 10px;
    background-color: #542516;
    color: bisque;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 350px;
    height: 270px;
    border-radius: 5px;
    margin-top: -4rem;
    background: url(../../../public/assets/images/pngs/letter-back.png) no-repeat
      center;
    background-size: contain;
  }
  
  .word-btn {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #f4b8a4;
    color: #542516;
    font-size: 1.5rem;
  }
  
  .btns {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 2rem;
  }
  
  .letter-btns {
    margin-top: 2rem;
  }
  
  .score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 6rem;
    background: url(../../../public/assets/images/pngs/coin-back.png) no-repeat
      center;
    background-size: contain;
    font-size: 2rem;
    font-weight: 800;
  }
  
  .start-btn,
  .rearrange {
    width: 7rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: #f1a48b;
    color: #e1e8fb;
    background-color: #542516;
  }
  
  .word-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #f1a48b;
    width: 75%;
    padding: 0.5rem 1rem;
  }
  
  .word-display button {
    margin-left: 1rem;
    background-color: #542516;
    color: #fff;
    border: 1px solid #e1e8fb;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .stage {
    background-color: #8a3d24;
    padding: 1rem 4rem;
    margin-bottom: -4rem;
    z-index: 999;
    border-radius: .5rem;
  }
  
  .congrats {
    margin: 0 auto;
  }